.demo-board .pixel-container {
  margin: 0 auto;
  width: 80%;
  font-size: 0px;
}

.demo-board .pixel {
  display: inline-block;
  padding: 3px 5px;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  /* transition: background-color 2s ease-in; */
}

.demo-board .status {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  font-size: 12px;
  background-color: black;
  color: white;
  opacity: .9;
}