body {
  margin: 0;
  background-color: black;
}

.pixel-container {
  margin: 0 auto;
  width: 40%;
  font-size: 0px;
}

.pixel {
  display: inline-block;
  padding: 3px 5px;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  transition: background-color 10s linear;
}

.status {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  font-size: 12px;
  background-color: black;
  color: white;
  opacity: .9;
}